*.deb
*.pdb
*.log
*.make
*.cbp
*.depend
*.layout
*.workspace
*.sublime-workspace
*.mk
*.project
*.session
*.tags
*.sln
*.suo
*.vcxproj*
*~

/*.txt
Makefile

bin/
lib/
obj/
build/
.directory
.build-*/


emergent.workspace.*
compilation.db
proxy.conf
